< input type="text" pattern="[a-z]*" >

<style>
      input : invalid {
      animation: shake 300ms;
      }
      @keyframes shake {

      25% {  transform:translateX(4px);  }
      50% {  transform:translateX(-4px); }
      75% {  transform:translateX(4px);  }

      }
</style>